$font-general: Inter;
$font-accent: PressStart2P;
$font-weight-normal: 410;
$font-weight-bold: 715;
$background: repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0, #e7e7e7 0.01%, #1a1a1a);
$stroke-color: white;
$text-color: black;
$background-color: white;
$contour-color: black;
$animation-fill-color: red;
