/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@use 'variables-scss' as *;

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear 0s;
  fill: $contour-color;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
  margin-inline-start: -6px;

  .heart {
    transform-origin: center;
  }

  &:hover {
    .core {
      fill: $text-color;
      transition: fill 0.3s linear 0s;
    }

    .main-body {
      fill: $text-color;
      transition: fill 0.3s linear 0.05s;
    }
  }

  &:active {
    .core {
      fill: $animation-fill-color;
      transition: fill 0.3s linear 0s;
    }

    .main-body {
      fill: $animation-fill-color;
      transition: fill 0.3s linear 0.05s;
    }
  }

  &.is-liked {

    .core {
      transition: 0.3s linear 0s;
      fill: $animation-fill-color;
    }

    .main-body {
      transition: 0.3s linear 0.05s;
      fill: $animation-fill-color;
    }

    .contour {
      transition: 0.3s linear 0.06s;
      fill: $animation-fill-color;
    }

    .heart {
      animation: scale 0.3s ease-in;
    }

    .sparks {
      animation: sparks 0.3s ease-in 0.3s;
    }
  }
}
